form(action=routes.upload, method="post", enctype="multipart/form-data")
    label(for="imgfile") 사진 업로드
    input(type="file", name="imgfile", accept="image/*")
    input(type="radio" name="CB" value="color")
    label(for="color") color<br>
    input(type="radio" name="CB" value="black")
    label(for="black") black<br>
    input(type="submit", value="submit")