footer.footer 
    div.footer__box
        div.footer__title 
            div STUDIO_INK 
            div 
                a(href="https://www.instagram.com/studio_1nk/?hl=ko")
                    i.fab.fa-instagram 
        .footer__contents 
            div 개인정보처리방침 | 이용약관
            div 상호명 : 부산 수영구 수영로 510번길 7 2층 스튜디오 잉크
            div 전화 : 010-2242-8784 | 사업자등록번호 : 764-22-01143
            div 이메일: studio_ink@naver.com
        